**/node_modules
**/dist
**/.turbo
**/coverage
**/generated/prisma
**/.env
**/.keys
**/.env.*
!**/.env.example
.git
.gitignore
.gitattributes
.github
docs
.kilo
cspell.json
graphify-out/
/.cache/
.scannerwork/
.claude/
.mcp.json
.sonar-config.json
.sonar-project.properties
.vscode/
cspell.json
.editorconfig
# Not use in Docker build so can ignore
.prettierrc
.prettierignore
